.t-center {
    text-align: center;
}

.t-left {
    text-align: center;
}

.t-right {
    text-align: right;
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.content {
    width: fit-content;
}

table, tr, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding:8px 16px
}