.title {
  width: fit-content;
  margin: auto;
  background-color: yellow;
}
#proposition {
  color: blue;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}
form input {
  height: 40px;
}

form input[type="text"] {
  margin-right: 70vw;
}

form input[type="submit"] {
  background-color: green;
  color: white;
  justify-self: end;
}
