html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Kittipat daengdee
    body
        h1 
            a(href="https://ipondnakab.github.io/profile/") Kittipat Daengdee

        img(src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/118520247_3322103017883628_7802174489436117407_o.jpg?_nc_cat=102&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHdCge8IFIBSXzkbz6-n_ABx6HMRBuM14THocxEG4zXhLyFzJpIDdxeU8z0KHa3s-DzUdM0X6hj566NC_v5E0IJ&_nc_ohc=r7F9KNRw5yUAX8bR5ry&_nc_ht=scontent.fbkk10-1.fna&oh=0dbbe47c75e8159c60142f53bb67f8a7&oe=5FD961AD" style='width:200px; height:200px;')
        h2 Internship companies
        ul 
            li 
                a(href="https://www.google.co.th/?gws_rd=ssl") Google
            li 
                a(href="https://www.facebook.com/") Facebook
            li 
                a(href="https://www.nasa.gov/") Nasa