body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Bai Jamjuree", sans-serif;
  color: #111;
}
.content {
  width: 40%;
  height: fit-content;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px 48px;
  margin: 24px 0;
  border-radius: 8px;
  border: #fffa solid 1px;
}
.content > header {
  text-align: center;
}
.content > header > h1 {
  text-shadow: 2px 2px #9b412d;
  font-size: 3rem;
}

.content > header > #logo_kku {
  width: 150px;
  align-self: center;
}
